<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Моя социальная сеть{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="sidebar">
        <h2>Меню</h2>
        <ul class="nav flex-column">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('profile') }}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('our_world') }}">Наш мир</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Выйти</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Вход</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="content">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{  message  }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
